html, body {
  padding:0px;
  margin:0px;
  background: #c7ac8d;
}

a {
  text-decoration: none;
  color:inherit;
}

.header{
  position:fixed;
  top:0;
  width:100%;
}

.header__menu{
  background-color: #b27a63;
  text-align:right;
  padding:10px;
  margin:0;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.header__item{
  text-transform: uppercase;
  padding: 5px;
  border: 2px solid #849d9a ;
  border-radius: 15px;
  color:#fcf0d2 ;
}

.header__item:hover,
.header__item a:active{
  border: 2px solid #fcf0d2 ;
  color:#234c64 ;
}

.header__item_left-block,
.header__item_right-block{
  cursor: pointer;
}
