@media screen and (max-width:768px){
  .body{
    width:80%;
  }

.header{
  width:80%;
}

.header,
.footer{
  z-index:2;
}
.content__always-visible-block{
  width:35%;
}

.content__item{
  width:60%
}

  .left-aside,
  .right-aside{
    width:100%;
    z-index:3;
    background: #c7ac8d;
  }

  .left-aside{
    left: -100%;
  }

  .right-aside{
    right: -100%;
  }

  .showLeftAside,
  .showRightAside{
    display:block;
    width:10%;
    position:fixed;
    top:0;
    height: 100%;
    background:#fcf0d2;
    opacity:0.7;
    font-weight:bold;
    font-size:3em;
    color:#b27a63;
    margin:54px 0 30px;
    padding-top:50%;
    cursor:pointer;
    z-index:4
  }

  .showLeftAside{
    left:0;
  }

  .showRightAside{
    right:0
  }


  .content__item img,
  .content__item p,
  .content__contact-map,
  .content__contact-p {
    float: none;
  }

	.content__item img{
		display:block;
    width:80%;
    height:auto;
		margin:auto;
	}

	.content__contact-map,
  .content__contact-p {
    width:100%;
  }

}


@media screen and (min-width:768px) and (max-width:1000px){
  .left-aside,
  .right-aside{
    width:200px
  }
}
